@font-face {
    font-family: "Georgia";
    src: url(fonts/georgia.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(fonts/Avenir-Black.ttf);
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 9px;
}
.wrapper {
    width: 1370px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
body {
    background-color: #E5E5E5;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #424242;
}
h1, h2, h3 {
    color: #01996D;
    font-size: 5rem;
    font-family: "Georgia", sans-serif;

}
.btn {
    display: inline-block;
    background: #01996D;
    border: 1px solid #01996D;
    padding: 1.3rem 5rem;
    border-radius: 4px;
}
.btn-link {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
}
.header {
    background: #FFFFFF;
}
.top-header, .top-header__buttons > ul, .top-header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header__logo {
    width: 80;
}
.top-header__navbar {
    margin: 3rem 0;
}
.top-header__link {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #292929;
}
.top-header__link:hover {
    text-decoration: underline;
}
.top-header__item {
    margin-right: 7.2rem;
}
.top-header__item:last-child {
    margin-right: 0;
}
.btn-item {
    margin-right: 3.5rem;
}
.experience__block {
    width: 440px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.experience__bg {
    width: 100%;
}
.experience__title {
    font-size: 6.5rem;
    line-height: 7.4rem;
    margin-bottom: 3rem;
}
.experience__text {
    display: block;
    width: 420px;
    height: 123px;
    line-height: 3.14rem;
}
.experience__btn {
    display: inline-block;
    margin-top: 1.8rem;
}
.description-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description__top-title {
    display: block;
    font-size: 2.4rem;
    font-family: "Lato", sans-serif;
    color: #424242;
}
.description-content__title {
    display: block;
    margin-top: 1rem;
    margin-right: 13.6rem;
    width: 150%;
}
.description-content__text {
    display: block;
    font-family: "Lato", sans-serif;
    color: #424242;
    line-height: 3rem;
}
.description_wrapper {
    margin-top: 15rem;
}
.description__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.card2 {
    padding-top: 25rem;
}
.card3 {
    padding-top: 5rem;
}
.card__number {
    font-size: 15rem;
    color: rgba(1, 153, 109, 0.2);
    font-family: "Georgia", sans-serif;
    position: relative;
    transform: translateY(35%) translateX(-15%);
}
.card__title {
    color: #000000;
    font-size: 3rem;
}
.card__text {
    display: block;
    font-family: "Lato", sans-serif;
    color: #424242;
    line-height: 3rem;
    margin-top: 5.5rem;
    width: 80%;
    transform: translateY(-30%);
}
.card {
    margin-right: 9.5rem;
}
.card:last-child {
    margin-right: 0;
}
.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-story {
    margin-top: 5.1rem;
}
.story__btn {
    display: inline-block;
}
.story__block {
    margin-right: 3.1rem;
    width: 150%;
}
.story__img {
    width: 100%;
}
.story__title {
    font-size: 5rem;
    color: #FFFFFF;
    line-height: 78.5px;
    margin-bottom: 3.3rem;
}
.story__text {
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-bottom: 5.7rem;
}
.top-story {
    background: #245852;
}
.wrapper-story {
    padding: 20rem 0;
}
.story__play {
    position: absolute;
    left: 63%;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 13rem;
}
.product__images {
    margin-right: 8.7rem;
}
.product__card-title {
    font-family: "Lato", sans-serif;
    display: inline-block;
    color: #000000;
    font-size: 1.4rem;
    border-bottom: 1px solid #000000;
    margin-bottom: 2.1rem;
    margin-bottom: 0.67rem;
    padding-top: 2.3rem;
}
.avatar__img {
    border-radius: 50%;
}
.avatar__description {
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 1.2rem;
}
.product__card {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 3.7px;
    position: relative;
    transform: translateY(-80%) translateX(-25%);
    top: 30%;
}
.product__card-content {
    font-size: 1.6rem;
    color: #000000;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.content__list {
    list-style: disc;
}
.list__item {
    font-size: 1.6rem;
    color: #000000;
    font-family: "Lato", sans-serif;
    margin-bottom: 1.6rem;
}
.product__card-avatar {
    margin-bottom: 2.4rem;
}
.content__list:last-child {
    padding-bottom: 3rem;
}
.product__pro-title {
    font-size: 2.5rem;
    color: #424242;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    mask-position: 1rem;
}
.product__title {
    line-height: 157%;
    margin-bottom: 2rem;
}
.product__text {
    font-size: 2rem;
    color: #484848;
    font-family: "Lato", sans-serif;
    line-height: 31px;
    margin-bottom: 4rem;
}
.product__btn {
    display: inline-block;
}
.footer__link {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    margin-bottom: 6rem;
    text-decoration: none;
}
.footer__item {
    margin-bottom: 6rem;
}
.strong_link {
    font-size: 4rem;
    font-family: "Avenir", sans-serif;
    font-weight: 900;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer {
    background: #245852;
}
.footer__wrapper {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}

